@media screen and 
(min-device-width:1024px) {

	body, html {
		font-size: 10px;
	}

	//Tamaños de tipografías responsivas

	.fnt-lg-1 {
		font-size: 1rem;
	}

	.fnt-lg-1-2 {
		font-size: 1.2rem;
	}

	.fnt-lg-1-25 {
		font-size: 1.25rem;
	}

	.fnt-lg-1-3 {
		font-size: 1.3rem;
	}

	.fnt-lg-1-5 {
		font-size: 1.5rem;
	}

	.fnt-lg-1-6 {
		font-size: 1.6rem;
	}

	.fnt-lg-1-7 {
		font-size: 1.7rem;
	}

	.fnt-lg-1-8 {
		font-size: 1.8rem;
	}

	.fnt-lg-2 {
		font-size: 2rem;
	}

	.fnt-lg-2-3 {
		font-size: 2.3rem;
	}

	.fnt-lg-2-5 {
		font-size: 2.5rem;
	}

	.fnt-lg-2-8 {
		font-size: 2.8rem;
	}

	.fnt-lg-3 {
		font-size: 3rem;
	}

	.fnt-lg-3-4 {
		font-size: 3.4rem;
	}

	.fnt-lg-3-5 {
		font-size: 3.5rem;
	}

	.fnt-lg-3-8 {
		font-size: 3.8rem;
	}

	.fnt-lg-4 {
		font-size: 4rem;
	}

	.fnt-lg-4-5 {
		font-size: 4.5rem;
	}

	.fnt-lg-5 {
		font-size: 5rem;
	}

	.fnt-lg-6 {
		font-size: 6rem;
	}

	.fnt-lg-6-5 {
		font-size: 6rem;
	}

	.fnt-lg-7 {
		font-size: 7rem;
	}

	.fnt-lg-8 {
		font-size: 8rem;
	}

	.fnt-lg-9 {
		font-size: 9rem;
	}

	//Dimenciones de altura

	.altura-lg-10 {
		height: 10%;
	}

	.altura-lg-14 {
		height: 14%;
	}

	.altura-lg-16 {
		height: 16%;
	}

	.altura-lg-20 {
		height: 20%;
	}

	.altura-lg-25 {
		height: 25%;
	}

	.altura-lg-30 {
		height: 30%;
	}

	.altura-lg-35 {
		height: 35%;
	}


	.altura-lg-40 {
		height: 50%;
	}

	.altura-lg-50 {
		height: 50%;
	}

	.altura-lg-60 {
		height: 60%;
	}

	.altura-lg-65 {
		height: 65%;
	}

	.altura-lg-70 {
		height: 70%;
	}

	.altura-lg-75 {
		height: 75%;
	}

	.altura-lg-80 {
		height: 80%
	}

	.altura-lg-84 {
		height: 84%;
	}

	.altura-lg-85 {
		height: 85%;
	}


	.altura-lg-86 {
		height: 86%;
	}

	.altura-lg-90 {
		height: 90%;
	}

	.altura-lg-100 {
		min-height: 100%;
	}

	.altura-lg-auto {
		height: auto;
	}


	.fa-lg-3x {
		font-size: 3em!important;
	}

	.p-lg-absolute {
		position: absolute;
	}

	.pt-lg-6 {
		padding-top: 4.5rem;
	}

	.pt-lg-7 {
		padding-top: 6rem;
	}

	//Estilos partículares

}

//and (max-device-width: 1600px)
@media screen and 
(min-device-width:1200px) {	

}