//and (max-device-width: 1024px)
@media screen and 
(min-device-width:768px) {

	.mover-md-menos-10 {
		transform: translateX(-10px);
	}

	.mover-md-menos-15 {
		transform: translateX(-15px);
	}

	.mover-md-menos-20 {
		transform: translateX(-20px);
	}

	.mover-md-menos-25 {
		transform: translateX(-25px);
	}

	//Estílos particulares

	

	//Fondos particulares

}