.fondo-blanco {
	background-color: #fff;
}

.fondo-negro {
	background-color: #000;
}

.fondo-verde {
	background-color: rgba(0, 128, 0, 0.3);
}

.fondo-negro-transparente {
	background-color: rgba(0, 0, 0, 0.5);
}

.fondo-gris-transparente {
	background-color: rgba(142, 134, 134, 0.8);
}